<% @kittens.each_slice(4) do |slice| -%>
  <div class="row">
    <% slice.each do |cat| %>
      <div class="col s10 offset-s1 m6 l3">
        <%= link_to cat_path(cat) do %>
          <div class="card">
            <div class="card-image">
              <%= image_tag(cat.thumbnail, :alt => "card picture") %>
              <% if !cat.name.blank? %>
                <span class="card-title"><%= cat.name %></span>
              <% end %>
            </div>
            <div class="card-content">
              <div class="info-block">
                <div class="row">
                  <div class="col s4">
                    <span class="info-title"><%= t('breed', count: 1) %>:</span>
                  </div>
                  <div class="col s8">
                    <span class="info-text"><%= t("breeds.#{cat_breed(cat).breed_code}.name") %></span>
                  </div>
                </div>
              </div>
              <div class="info-block">
                <div class="row">
                  <div class="col s4">
                    <span class="info-title"><%= t('cat_info.gender') %>:</span>
                  </div>
                  <div class="col s8">
                    <span class="info-text"><%= cat_gender(cat).capitalize %></span>
                  </div>
                </div>
              </div>
              <div class="info-block">
                <div class="row">
                  <div class="col s4">
                    <span class="info-title"><%= t('cat_info.cattery') %>:</span>
                  </div>
                  <div class="col s8">
                    <span class="info-text"><%= cattery(cat).cattery_name %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>