<!-- Page specific meta data -->
<% content_for :meta_title, "#{t("breeds.#{Breed.find(@breed.id).breed_code}.name")} | #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, t('meta.show_breed', breed_name: t("breeds.#{Breed.find(@breed.id).breed_code}.name")) %>
<% content_for :meta_facebook_image, "#{url_for(@breed.facebook_thumbnail)}" %>
<% content_for :meta_twitter_image, "#{url_for(@breed.twitter_thumbnail)}" %>
<% content_for :meta_image_alt, "Breed card picture" %>

<div class="container breed-show">
  <div class="row">
    <h1><%= t("breeds.#{@breed.breed_code.upcase}.name") %></h1>
  </div>

  <div class="row">
    <div class="col s12 ml12 l6">
      <div class="breed-image">
        <%= image_tag(@breed.vertical_rectangle, alt:"#{@breed.name} breed", class:"z-depth-2") %>
      </div>
    </div>

    <div class="col s12 ml12 l6">
      <% @properties_array.each do |prop| %>
        <div class="col s12 l6 breed-property">
          <div class="col s12 m5 l12">
            <div class="range-title"><%= t("breed_info.#{prop}").capitalize %>:</div>
          </div>
          <div class="col s12 m7 l12">
            <div class="range-dots">
              <% cat_attribute_rating(@breed, prop).each do |dot| %>
                <% if dot == 1 %>
                  <i class="active"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="paragraph-block z-depth-1">
    <div class="row">
      <h1><%= t('breed_info.personality').capitalize %></h1>
    </div>

    <div class="row text-box">
      <p><span><%== t("breeds.#{@breed.breed_code.upcase}.personality") %></span></p>
    </div>
  </div>

  <% if @catteries.any? %>
    <div class="row">
      <h1><%= t('header.catteries')%></h1>
    </div>

    <div class="row">
      <%= render 'breed_catteries' %>
    </div>
  <% end %>

  <% if @kittens.any? %>
    <div class="row">
      <h1><%= t('header.kittens')%></h1>
    </div>

    <div class="row">
      <%= render 'breed_kittens' %>
    </div>
  <% end %>

  <div class="paragraph-block z-depth-1">
    <div class="row">
      <h1><%= t('breed_info.history').capitalize %></h1>
    </div>
    
    <div class="row text-box">
      <p><%== t("breeds.#{@breed.breed_code.upcase}.history") %></p>
    </div>
  </div>

  <div class="section social-media">
    <h1><%= t('social.share_this_breed') %></h1>
    <%= render 'shared/social_media_share_buttons' %>
  </div>

  <div class="disclaimer-block z-depth-1">  
    <p><b><%= t('breed_info.disclaimer').upcase %>:</b> <%= t('breed_info.disclaimer_text') %></p>
  </div>
</div>