<div class="container">
  <div class="form">
    <div class="row">
      <h2 class="form-title">Resend unlock instructions</h2>
    </div>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row">
    <br>
  </div>

  <div class="row">
    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if resource.errors[:email].any? %>
        <%= render "devise/shared/error_messages", resource: resource, field: :email %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="actions">
      <%= f.button class:"btn waves-effect waves-light", type:"submit" do %>
        Resend unlock instructions
        <i class="material-icons right">send</i>
      <% end %>
    </div>
  </div>
<% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
