<% @litters.each do |litter| %>
  <div class="col s10 offset-s1 m6 l3">
    <div class="card">
      <span class="filter-icon-container circle z-depth-4">
        <i class="material-icons filter-list">filter_list</i>
        <i class="material-icons add-circle">add_circle</i>
        <i class="material-icons check-circle">check_circle</i>
        <span class="cat-id"><%= litter.litter_number %></span>
      </span>
      <div class="carousel carousel-slider">
        <% cattery_kittens_per_litter(litter.ids).each do |cat| %>
          <div class="card-image">
            <a class="carousel-item">
              <%= image_tag(cat.thumbnail, :alt => "card picture") if cat.card_picture.attached? %>
            </a>
          </div>
        <% end %>
      </div>
      <% cattery_kittens_per_litter(litter.ids).each do |cat| %>
        <div class="card-content">
          <div class="info-block">
            <div class="row">
              <div class="col s4">
                <span class="info-title"><%= t('breed', count:1) %>:</span>
              </div>
              <div class="col s8">
                <span class="info-text">
                  <%= t("breeds.#{cat_breed(cat).breed_code}.name") %>
                </span>
              </div>
            </div>
          </div>
          <div class="info-block">
            <div class="row">
              <div class="col s4">
                <span class="info-title"><%= t('cat_info.birth_date') %>:</span>
              </div>
              <div class="col s8">
                <span class="info-text">
                  <%= format_birth_date(cat) %>
                </span>
              </div>
            </div>
          </div>
          <% break %>
        <% end %>
          <div class="info-block">
            <div class="row">
              <div class="col s4">
                <span class="info-title"><%= t('header.kittens') %>:</span>
              </div>
              <div class="col s8">
                <span class="info-text">
                  <%= Cat.user_id(@user.id).where(litter_number: litter.litter_number).size %>
                </span>
              </div>
            </div>
          </div>
          <div class="info-block">
            <div class="row">
              <div class="col s12">
                <div class="info-available">
                  <% cattery_kittens_per_litter(litter.ids).sort_by{|cat| cat.is_available ? 0 : 1 }.each do |cat| %>
                    <% if cat.is_available %>
                      <i class="material-icons check">check</i>
                      <span class="available-text"><%= t('header.kittens') %>&nbsp;<%= t('cat_info.available') %></span>
                    <% else %>
                      <i class="material-icons close">close</i>
                      <span class="unavailable-text"><%= t('cat_info.no_kittens_available') %></span>
                    <% end %>
                    <% break %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>               
  </div>
<% end %>