<% @catteries.each_slice(2) do |slice| -%>
  <div class="index-row">
    <% slice.each do |cattery| %>
      <div class="col s10 offset-s1 m6 ml6 l3">
        <%= link_to cattery_path(cattery), target:"_blank" do %>
          <div class="card">
            <div class="card-image">
              <%= image_tag(cattery_user(cattery).thumbnail, alt:"#{cattery.cattery_name} cattery") %>
            </div>
            <div class="card-content">
              <table>
                <tbody>
                  <tr class="info-block">
                    <td class="info-title"><%= t('cat_info.cattery') %>:</td>
                    <td class="info-text"><%= cattery_user(cattery).cattery_name %></td>
                  </tr>
                  <tr class="info-block">
                    <td class="info-title"><%= t('breed', count: cattery_breeds(cattery).size) %>:</td>
                    <td class="info-text"><%= cattery_breed_names(cattery) %></td>
                  </tr>
                  <tr class="info-block">
                    <td class="info-title"><%= t('cat_info.location') %>:</td>
                    <td class="info-text"><%= cattery_location(cattery) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>