<div class="cattery-overview">
  <div class="container">
    <div class="row">
      <h1>Cattery Overview</h1>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s8">
          <h3>Parents</h3>
        </div>
        <div class="col s4">
          <%= link_to new_cat_path(form: "parent"), class:"waves-effect waves-light btn right" do %>
            <span>Add parent</span>
            <i class="material-icons left">add</i>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @parents.any? %>
          <% @parents.each do |cat|%>
            <div class="col s10 offset-s1 m6 l3">
              <div class="card">
                <div class="card-image">
                  <a href="#">
                    <%= image_tag(cat.card_picture) if cat.card_picture.attached? %> 
                    <span class="card-title"><%= cat.name %></span>
                  </a>
                  <%= link_to edit_cat_path(cat, form: "parent"), class:"btn-floating halfway-fab waves-effect waves-light btn-large" do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                </div>
                <a href="#">
                  <div class="card-content">
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Breed:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cat_breed(cat) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Gender:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text">
                            <%= cat_gender(cat) %>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Partners:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cat.pairs.size %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Litters:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= parent_litters_count(cat) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Kittens:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= parent_kittens_count(cat) %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col s12 center-align">
            <span class="empty-message">No parents have been added yet!</span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s8">
          <h3>Pairs</h3>
        </div>
        <div class="col s4">
          <% if @male_parents.any? and @female_parents.any? %>
            <%= link_to new_pair_path(form: "pair"), class:"waves-effect waves-light btn right" do %>
              <span>Add pair</span>
              <i class="material-icons left">add</i>
            <% end %>
          <% else %>
            <a class="disabled-tooltip-wrapper tooltipped right" data-position="top" data-tooltip="You have to create a male and female parent before you can create a pair">
              <button class="btn waves-effect waves-light btn-delete disabled right">
                <span>Add pair</span>
                <i class="material-icons left">add</i>
              </button>
            </a>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @pairs.any? %>
          <% @pairs.each do |pair|%>
            <div class="col s10 offset-s1 m6 l3">
              <div class="card">
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#<%= pair.id %><%= pair.male.id %>"><%= pair.male.name %></a></li>
                    <li class="tab"><a  href="#<%= pair.id %><%= pair.female.id %>"><%= pair.female.name %></a></li>
                  </ul>
                </div>
                <a href="#">
                  <div class="card-image" id="<%= pair.id %><%= pair.male.id %>" >
                    <%= image_tag(pair.male.card_picture, :alt => "breed") %>
                  </div>
                  <div class="card-image" id="<%= pair.id %><%= pair.female.id %>" >
                    <%= image_tag(pair.female.card_picture, :alt => "breed") %>
                  </div>
                </a>
                <div class="card-content">
                  <%= link_to edit_pair_path(pair, form: "pair"), class:"btn-floating halfway-fab waves-effect waves-light btn-large" do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                  <a href="#">
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Breed:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cat_breed(pair.male) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Litters:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= pair_litters_count(pair) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Kittens:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= pair_kittens_count(pair) %></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col s12 center-align">
            <span class="empty-message">No pairs have been added yet!</span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s8">
          <h3>Kittens</h3>
        </div>
        <div class="col s4">
          <% if @pairs.any? %>
            <%= link_to new_cat_path(form: "kitten"), class:"waves-effect waves-light btn right" do %>
              <span>Add kitten</span>
              <i class="material-icons left">add</i>
            <% end %>
          <% else %>
            <a class="disabled-tooltip-wrapper tooltipped right" data-position="top" data-tooltip="You have to create a pair before you can create a kitten">
              <button class="btn waves-effect waves-light btn-delete disabled right">
                <span>Add kitten</span>
                <i class="material-icons left">add</i>
              </button>
            </a>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @kittens.any? %>
          <% @kittens.each do |cat|%>
            <div class="col s10 offset-s1 m6 l3">
              <div class="card">
                <div class="card-image">
                  <a href="#">
                    <%= image_tag(cat.card_picture, :alt => "card picture") %>
                    <% if !cat.name.blank? %>
                      <span class="card-title"><%= cat.name %></span>
                    <% end %>
                  </a>
                  <%= link_to edit_cat_path(cat, form: "kitten"), class:"btn-floating halfway-fab waves-effect waves-light btn-large" do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                </div>
                <a href="#">
                  <div class="card-content">
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Breed:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cat_breed(cat) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Gender:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text">
                            <%= cat_gender(cat) %>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Parents:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text">
                          <% parents = @pairs.find(cat.pair_id) %>
                            <%= parents.male.name %> 
                            &amp; 
                            <%= parents.female.name %> 
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title">Litter nr:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text">
                            <%= cat.litter_number%>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>               
            </div>
          <% end%>
        <% else %>
          <div class="col s12 center-align">
            <span class="empty-message">No kittens have been added yet!</span>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>