<div class="cattery-overview">
  <div class="container">
    <div class="row">
      <h1><%= t('cattery_overview.cattery_overview_title') %></h1>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s8">
          <h3><%= t('cat_info.parents') %></h3>
        </div>
        <div class="col s4">
          <%= link_to new_cat_path(form: "parent"), class:"waves-effect btn right" do %>
            <span><%= t('buttons.add_parent') %></span>
            <i class="material-icons left">add</i>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @parents.any? %>
          <% @parents.each do |cat|%>
            <div class="col s10 offset-s1 m6 ml6 l3">
              <div class="card">
                <div class="card-image">
                  <%= link_to  edit_cat_path(cat, form: "parent") do %>
                    <%= image_tag(cat.thumbnail, data: { 'object-fit': 'cover' }) if cat.card_picture.attached? %> 
                    <span class="card-title"><%= capitalized_name(cat) %></span>
                  <% end %>
                </div>
                <%= link_to  edit_cat_path(cat, form: "parent") do %>
                  <div class="card-content">
                  <%= link_to edit_cat_path(cat, form: "parent"), class:"btn-floating halfway-fab waves-effect btn-large" do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                    <table>
                      <tbody>
                        <tr class="info-block">
                          <td class="info-title"><%= t('breed', count: 1) %>:</td>
                          <td class="info-text"><%= t("breeds.#{cat_breed(cat).breed_code.upcase}.name") %></td>
                        </tr>
                        <tr class="info-block">
                          <td class="info-title"><%= t('cat_info.gender') %>:</td>
                          <td class="info-text"><%= cat_gender(cat).capitalize %></td>
                        </tr>
                        <tr class="info-block">
                          <td class="info-title"><%= t('cat_info.partners') %>:</td>
                          <td class="info-text"><%= cat.pairs.size %></td>
                        </tr>
                        <tr class="info-block">
                          <td class="info-title"><%= t('cat_info.litters') %>:</td>
                          <td class="info-text"><%= parent_litters_count(cat, @user) %></td>
                        </tr>
                        <tr class="info-block">
                          <td class="info-title"><%= t('header.kittens') %>:</td>
                          <td class="info-text"><%= parent_kittens_count(cat, @user) %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col s12 center-align">
            <span class="empty-message"><%= t('cattery_overview.no_records_added', kind: (I18n.t "cat_info.parents").downcase ) %></span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s8">
          <h3><%= t('cat_info.pairs') %></h3>
        </div>
        <div class="col s4">
          <% if @male_parents.any? and @female_parents.any? %>
            <%= link_to new_pair_path(form: "pair"), class:"waves-effect btn right" do %>
              <span><%= t('buttons.add_pair') %></span>
              <i class="material-icons left">add</i>
            <% end %>
          <% else %>
            <%= link_to "javascript:void(0)", class:"disabled-tooltip-wrapper tooltipped right", data: { position:"left", tooltip: (I18n.t "cattery_overview.tooltip.create_pairs_condition") } do %>
              <button class="btn disabled right">
                <span><%= t('buttons.add_pair') %></span>
                <i class="material-icons left">add</i>
              </button>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @pairs.any? %>
          <% @pairs.each do |pair|%>
            <div class="col s10 offset-s1 m6 ml6 l3">
              <div class="card">
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#<%= pair.id %><%= pair.male.id %>"><%= capitalized_name(pair.male) %></a></li>
                    <li class="tab"><a  href="#<%= pair.id %><%= pair.female.id %>"><%= capitalized_name(pair.female) %></a></li>
                  </ul>
                </div>
                <div class="card-image" id="<%= pair.id %><%= pair.male.id %>" >
                  <%= image_tag(pair.male.thumbnail, :alt => "breed", data: { 'object-fit': 'cover' }) if pair.male.card_picture.attached? %>
                </div>
                <div class="card-image" id="<%= pair.id %><%= pair.female.id %>" >
                  <%= image_tag(pair.female.thumbnail, :alt => "breed", data: { 'object-fit': 'cover' }) if pair.female.card_picture.attached? %>
                </div>
                <div class="card-content">
                  <%= link_to edit_pair_path(pair, form: "pair"), class:"btn-floating halfway-fab waves-effect btn-large tabs-header" do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                  <table>
                    <tbody>
                      <tr class="info-block">
                        <td class="info-title"><%= t('breed', count:1) %>:</td>
                        <td class="info-text"><%= t("breeds.#{cat_breed(pair.male).breed_code.upcase}.name") %></td>
                      </tr>
                      <tr class="info-block">
                        <td class="info-title"><%= t('cat_info.litters') %>:</td>
                        <td class="info-text"><%= pair_litters_count(pair, @user) %></td>
                      </tr>
                      <tr class="info-block">
                        <td class="info-title"><%= t('header.kittens') %>:</td>
                        <td class="info-text"><%= pair_kittens_count(pair, @user) %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col s12 center-align">
            <span class="empty-message"><%= t('cattery_overview.no_records_added', kind: (I18n.t "cat_info.pairs").downcase ) %></span>
          </div>
        <% end %>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s8">
          <h3><%= t('header.kittens') %></h3>
        </div>
        <div class="col s4">
          <% if @pairs.any? %>
            <%= link_to new_cat_path(form: "kitten"), class:"waves-effect btn right" do %>
              <span><%= t('buttons.add_kitten') %></span>
              <i class="material-icons left">add</i>
            <% end %>
          <% else %>
            <%= link_to "javascript:void(0)", class:"disabled-tooltip-wrapper tooltipped right", data: { position: "left", tooltip: (I18n.t "cattery_overview.tooltip.create_kittens_condition") } do %>
              <button class="btn disabled right">
                <span><%= t('buttons.add_kitten') %></span>
                <i class="material-icons left">add</i>
              </button>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @kittens.any? %>
          <% @kittens.each_slice(2) do |slice| -%>
            <div class="index-row">
              <% slice.each do |cat|%>
                <div class="col s10 offset-s1 m6 ml6 l3">
                  <div class="card">
                    <div class="card-image">
                      <%= link_to cat_path(cat), target:"_blank" do %>
                        <%= image_tag(cat.thumbnail, :alt => "card picture", data: { 'object-fit': 'cover' }) if cat.card_picture.attached? %>
                        <% if !cat.name.blank? %>
                          <span class="card-title"><%= capitalized_name(cat) %></span>
                        <% end %>
                      <% end %>
                    </div>
                    <%= link_to cat_path(cat), target:"_blank" do %>
                      <div class="card-content">
                        <%= link_to edit_cat_path(cat, form: "kitten"), class:"btn-floating halfway-fab waves-effect btn-large" do %>
                          <i class="material-icons">edit</i>
                        <% end %>
                        <table>
                          <tbody>
                            <tr class="info-block">
                              <td class="info-title"><%= t('breed', count:1) %>:</td>
                              <td class="info-text"><%= t("breeds.#{cat_breed(cat).breed_code.upcase}.name") %></td>
                            </tr>
                            <tr class="info-block">
                              <td class="info-title"><%= t('cat_info.gender') %>:</td>
                              <td class="info-text"><%= cat_gender(cat).capitalize %></td>
                            </tr>
                            <tr class="info-block">
                              <td class="info-title"><%= t('cat_info.birth_date') %>:</td>
                              <td class="info-text"><%= format_birth_date(cat) %></td>
                            </tr>
                            <tr class="info-block">
                              <td class="info-title"><%= t('cat_info.parents').downcase %>:</td>
                              <td class="info-text"><%= kitten_parents(cat) %></td>
                            </tr>
                            <tr class="info-block">
                              <td class="info-title"><%= t('cat_info.litter_nr') %>:</td>
                              <td class="info-text"><%= cat.litter_number %></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    <% end %>
                  </div>               
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col s12 center-align">
            <span class="empty-message"><%= t('cattery_overview.no_records_added', kind: (I18n.t "header.kittens").downcase) %></span>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>