<% content_for :meta_title, "Catteries | #{DEFAULT_META["meta_title"]}" %>

<div class="catteries-index">
  <h1><%= t('header.catteries') %></h1>

  <div class="search-bar">
    <div id="search" class="container">
      <%= render 'shared/search', :locals => {:controller => 'users', :action => 'index'} %>
    </div>
  </div>

  <div class="container">
    <% if @catteries.present? %>
      <div id="catteries" class="row">
        <%= render partial: 'page_items' %>
      </div>
    <% else %>
      <div id="catteries" class="row">
        <div class="col s12 center-align">
          <span class="empty-message"><%= t('index.no_catteries_found') %>!</span>
        </div>
      </div>
    <% end %>
    <div class="preloader-wrapper" id="preloader">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="div_next_link">
  <%= render partial: 'shared/next_link' %>
</div>