<div class="container">
  <div class="form">
    <div class="row">
      <h2 class="form-title">My Cattery</h2>
    </div>

    <%= form_for(@user, url: my_cattery_cattery_path(@user), html: { method: :post, autocomplete: "off" }) do |f| %>
      <div class="row">
        <br>
      </div>
      
      <div class="row">
        <h4 class="form-section-title"><%= t('my_cattery.general') %></h4>
      </div>

      <div class="row">
        <div class="col s12 l8">
          <div class="input-field">
            <%= f.label :cattery_name do %>
              <%= t('my_cattery.cattery_name') %> *
            <% end %>
            <%= f.text_field :cattery_name, autofocus: true %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :cattery_name %>
        </div>

        <div class="col s12 l4">
          <div class="input-field">
            <%= f.label :certification_number %>
            <%= f.text_field :certification_number %>
          </div>
        </div>
      </div>

      <div class="row my-cattery-pages">
        <% if f.object.profile_picture.present? and f.object.cattery_name.present? and f.object.postal_code.present? and f.object.city.present? and f.object.country_id.present? %>
          <div class="col">
            <%= link_to overview_cattery_path(@user), class:"waves-effect waves-light btn-large btn-link" do %>
              <%= t('my_cattery.edit_cats') %>
              <i class="material-icons right">create</i>
            <% end %>
          </div>
          <% if @user.cats.any? %>
            <div class="col">
              <%= link_to cattery_path(@user), class:"waves-effect waves-light btn-large btn-link" do %>
                <%= t('my_cattery.view_page') %>
                <i class="material-icons right">remove_red_eye</i>
              <% end %>
            </div>
          <% else %>
            <div class="col">
              <div class="blocking-helper-text"><%= t('my_cattery.required_cats') %></div>
            </div>
          <% end %>
        <% else %>
          <div class="col">
            <button class="btn-large disabled ">
              <%= t('my_cattery.edit_cats') %>
              <i class="material-icons right">create</i>
            </button>
          </div>
          <div class="col">
            <div class="blocking-helper-text"><%= @required_info_message %></div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <h4 class="form-section-title"><%= t('my_cattery.profile_picture') %></h4>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn">
              <i class="material-icons-outlined">add_photo_alternate</i>
              <span><%= t('my_cattery.profile_picture') %></span>
              <%= f.file_field :profile_picture, accept: "image/jpeg, image/png" %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :profile_picture %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card-picture-preview">
            <% if @user.profile_picture.blank? %>
              <span><%= t('words.preview') %> *</span>
            <% else %>
              <%= image_tag(@user.profile_picture, data: { 'object-fit': 'cover' }) if @user.profile_picture.attached? %> 
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <h4 class="form-section-title"><%= t('my_cattery.address') %></h4>
      </div>

      <div class="row">
        <div class="col s9">
          <div class="input-field">
            <%= f.label :street %>
            <%= f.text_field :street %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :street %>
        </div>

        <div class="col s3">
          <div class="input-field">
            <%= f.label :number %>
            <%= f.text_field :number %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :number %>
        </div>
      </div>

      <div class="row">
        <div class="col s5">
          <div class="input-field">
            <%= f.label :postal_code do %>
              <%= t('my_cattery.postal_code') %> *
            <% end %>
            <%= f.text_field :postal_code %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :postal_code %>
        </div>
        
        <div class="col s7">
          <div class="input-field">
            <%= f.label :city do %>
              <%= t('my_cattery.city') %> *
            <% end %>
            <%= f.text_field :city, class:"capitalize-input" %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :city %>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m5">
          <div class="input-field">
            <%= f.select(:country_id, options_for_select(@all_countries, selected: f.object ? f.object.country_id : ""), {selected: "", disabled: "", prompt: "#{t('my_cattery.country')} *"}, { autocomplete:'off' }) %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :country_id %>
        </div>
      </div>

      <div class="row">
        <h4 class="form-section-title"><%= t('my_cattery.contact_and_social_media') %></h4>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <%= link_to @change_email_path, class:"tooltipped", :data => { :'position' => "bottom", :'tooltip' => @change_email_tooltip }  do %>
            <div class="input-field">
              <%= f.label :email %>
              <%= f.text_field :email, class:"disabled-input", disabled: true %>
            </div>
          <% end %>
        </div>
        
        <div class="col s12 m6">
          <div class="input-field">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :phone_number %>
        </div>
      </div>

      <div class="row">
        <div class="col s12 l4">
          <div class="input-field">
            <i class="fab fa-facebook-square prefix"></i>
            <%= f.label :facebook_link %>
            <%= f.text_field :facebook_link %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :facebook_link %>
        </div>

        <div class="col s12 l4">
          <div class="input-field">
            <i class="fab fa-instagram prefix"></i>
            <%= f.label :instagram_link %>
            <%= f.text_field :instagram_link %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :instagram_link %>
        </div>
        
        <div class="col s12 l4">
          <div class="input-field">
            <i class="fab fa-twitter prefix"></i>
            <%= f.label :twitter_link %>
            <%= f.text_field :twitter_link %>
          </div>
          <%= render 'shared/error_messages', object: @user, field: :twitter_link %>
        </div>
      </div>

      <div class="row">
        <div class="actions">
          <%= f.button class:"btn waves-effect waves-light", type:"submit" do %>
          <%= t('buttons.update') %>
          <i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>