<div id="cattery-view" class="container">
  <div class="row">
    <h1><%= cattery_user(@user).cattery_name %></h1>
  </div>

  <div class="row">
    <div class="col s12 m6 picture-main-container"> 
      <%= image_tag(@user.profile_picture, :alt => "profile picture", class:"picture-main z-depth-2") %>
    </div>
    <div class="col s12 m6">
      <div class="info-main">
        <div class="row">
          <div class="col s6 m5 info-title">
            Location:
          </div>
          <div class="col s6 m7 info-text">
            <%= cattery_location(@user) %>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m5 info-title">
            Breeds:
          </div>
          <div class="col s6 m7 info-text">
            <% cattery_breeds(@user).each_with_index do |breed, index| %>
              <%= link_to breed_path(breed), class:"info-link" do %>
                <%= Breed.find(breed).name %>
              <% end %>
              <% unless index == cattery_breeds(@user).length - 1 %>
                ,&nbsp;
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m5 info-title">
            Parents:
          </div>
          <div class="col s6 m7 info-text">
            <%= cattery_parent_count(@user)[:parents] %> (<%= cattery_parent_count(@user)[:males] %> male<% unless cattery_parent_count(@user)[:males] == 1 %>s<% end %>, <%= cattery_parent_count(@user)[:females] %> female<% unless cattery_parent_count(@user)[:females] == 1 %>s<% end %>)
          </div>
        </div>
        <div class="row">
          <div class="col s6 m5 info-title">
            Litters:
          </div>
          <div class="col s6 m7 info-text">
            <%= cattery_litter_count(@user) %>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m5 info-title">
            Kittens:
          </div>
          <div class="col s6 m7 info-text">
            <%= cattery_kitten_count(@user) %>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m5 info-title">
            Kittens available:
          </div>
          <div class="col s6 m7 info-text">
            <% if @kittens.any? && cattery_kittens_available(@user).is_available %>
              <i class="material-icons check">check</i>
            <% else %>
              <i class="material-icons close">close</i>
            <% end %>
          </div>
        </div>
        <% if @user.facebook_link.present? or @user.instagram_link.present? or @user.twitter_link.present? %>
        <div class="row social">
          <div class="col s12">
            <% if @user.facebook_link.present? %>
              <%= link_to "http://#{cattery_social_links(@user)[:facebook]}", target:"_blank", class:"waves-effect waves-light btn-floating btn-large facebook" do %>
                <i class="fab fa-facebook-f"></i>
              <% end %>
            <% end %>
            <% if @user.instagram_link.present? %>
                <%= link_to "http://#{cattery_social_links(@user)[:instagram]}", target:"_blank", class:"waves-effect waves-light btn-floating btn-large instagram" do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
            <% end %>
            <% if @user.twitter_link.present? %>
                <%= link_to "http://#{cattery_social_links(@user)[:twitter]}", target:"_blank", class:"waves-effect waves-light btn-floating btn-large twitter" do %>
                  <i class="fab fa-twitter"></i>
                <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= form_with(url: {:controller => 'users', :action => 'show', :id => @user.id}, :html => {:class => "filter"}, method: "GET") do |f| %>
    <% if cattery_parents(@user).any? %>
      <div class="section">
        <div class="row">
          <h1>Parents</h1>
        </div>
        <div class="filter-bar">
          <div class="container parent-filter">
            <%= render 'parent_filter', f: f %>
          </div>
        </div>
        <div class="row">
        <% cattery_parents(@user).each do |cat| %>
          <div class="col s10 offset-s1 m6 l3">
              <div class="card">
                <span class="filter-icon-container circle z-depth-4">
                  <i class="material-icons filter-list">filter_list</i>
                  <i class="material-icons add-circle">add_circle</i>
                  <i class="material-icons check-circle">check_circle</i>
                  <span class="cat-id"><%= cat.id %></span>
                </span>
                <div class="card-image">
                  <%= image_tag(cat.thumbnail, :alt => "card picture") %>
                  <% if !cat.name.blank? %>
                    <span class="card-title"><%= cat.name %></span>
                  <% end %>
                  <% if user_signed_in? && current_user == @user %>
                    <%= link_to edit_cat_path(cat, form: "parent"), class:"btn-floating halfway-fab waves-effect waves-light btn-large" do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-content">
                  <div class="info-block">
                    <div class="row">
                      <div class="col s4">
                        <span class="info-title">Breed:</span>
                      </div>
                      <div class="col s8">
                        <span class="info-text"><%= cat_breed(cat) %></span>
                      </div>
                    </div>
                  </div>
                  <div class="info-block">
                    <div class="row">
                      <div class="col s4">
                        <span class="info-title">Gender:</span>
                      </div>
                      <div class="col s8">
                        <span class="info-text"><%= cat_gender(cat) %></span>
                      </div>
                    </div>
                  </div>
                  <div class="info-block">
                    <div class="row">
                      <div class="col s4">
                        <span class="info-title">Partners:</span>
                      </div>
                      <div class="col s8">
                        <span class="info-text"><%= cat.pairs.size %></span>
                      </div>
                    </div>
                  </div>
                  <div class="info-block">
                    <div class="row">
                      <div class="col s4">
                        <span class="info-title">Litters:</span>
                      </div>
                      <div class="col s8">
                        <span class="info-text"><%= parent_litters_count(cat, @user) %></span>
                      </div>
                    </div>
                  </div>
                  <div class="info-block">
                    <div class="row">
                      <div class="col s4">
                        <span class="info-title">Kittens:</span>
                      </div>
                      <div class="col s8">
                        <span class="info-text"><%= parent_kittens_count(cat, @user) %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div> 
    <% end %>
    <% if @pairs.any? %>
      <div class="section">
        <div class="row">
          <h1>Pairs</h1>
        </div>
        <div class="selected-filters-message"></div>
        <div id="pairs" class="row">
          <%= render partial: 'cattery_pairs' %>
        </div>
      </div>
    <% end %>
    <% if @litters.any? %>
      <div class="section">
        <div class="row">
          <h1>Litters</h1>
        </div>
        <div class="filter-bar">
          <div class="container parent-filter">
            <%= render 'litter_filter', f: f %>
          </div>
        </div>
        <div class="selected-filters-message"></div>
        <div id="litters" class="row">
          <%= render partial: 'cattery_litters' %>
        </div>
      </div>
    <% end %>
    <% if @kittens.any? %>
      <div class="section">
        <div class="row">
          <h1>Kittens</h1>
        </div>
        <div class="selected-filters-message"></div>
        <div id="kittens" class="row">
          <%= render partial: 'cattery_kittens' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div id="contact" class="section contact">
    <%= render 'shared/contact_form', user: @user, cat: nil %>
  </div>
</div>