<!-- Page specific meta data -->
<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} | #{cattery_user(@user).cattery_name} | #{cattery_location(@user)}" %>
<% content_for :meta_description, t('meta.show_cattery', cattery_name: cattery_user(@user).cattery_name, cattery_location: cattery_location(@user), cattery_breeds: cattery_breed_names(@user)) %>
<% content_for :meta_facebook_image, "#{url_for(@user.facebook_thumbnail)}" %>
<% content_for :meta_twitter_image, "#{url_for(@user.twitter_thumbnail)}" %>
<% content_for :meta_image_alt, "Cattery profile picture" %>

<div id="cattery-view" class="container">
  <div class="row">
    <h1><%= cattery_user(@user).cattery_name %></h1>
  </div>

  <div class="row">
    <div class="col s12 m6 picture-main-container"> 
      <%= image_tag(@user.profile_picture, alt:"profile picture", class:"picture-main z-depth-2") %>
    </div>
    <div class="col s12 m6">
      <div class="info-main">
        <table>
          <tbody>
          <tr class="info-block">
            <td class="info-title"><%= t('cat_info.location') %>:</td>
            <td class="info-text"><%= cattery_location(@user) %></td>
          </tr>
          <tr class="info-block">
            <td class="info-title"><%= t('breed', count: cattery_breeds(@user).size ) %>:</td>
            <td class="info-text">
              <% cattery_breeds(@user).each_with_index do |breed, index| %>
                <%= link_to breed_path(breed.friendly_id), class:"info-link" do %><%= t("breeds.#{breed.breed_code.upcase}.name") %><% end %><% unless index == cattery_breeds(@user).length - 1 %>,&nbsp;<% end %><% end %>
            </td>
          </tr>
          <% if @user.certification_number.present? %>
            <tr class="info-block">
              <td class="info-title"><%= t('cattery_info.certification_number') %>:</td>
              <td class="info-text"><%= @user.certification_number %></td>
            </tr>
          <% end %>
          <tr class="info-block">
            <td class="info-title"><%= t('cat_info.parents') %>:</td>
            <td class="info-text">
              <%= cattery_parent_count(@user)[:parents] %> 
              (<%= cattery_parent_count(@user)[:males] %>&nbsp;<%= t('male', count: cattery_parent_count(@user)[:males] ) %>, 
              <%= cattery_parent_count(@user)[:females] %>&nbsp;<%= t('female', count: cattery_parent_count(@user)[:females] ) %>)
            </td>
          </tr>
          <tr class="info-block">
            <td class="info-title"><%= t('cat_info.litters') %>:</td>
            <td class="info-text"><%= cattery_litter_count(@user) %></td>
          </tr>
          <tr class="info-block">
            <td class="info-title"><%= t('header.kittens') %>:</td>
            <td class="info-text"><%= cattery_kitten_count(@user) %></td>
          </tr>
          </tbody>
        </table>
        <% if @user.facebook_link.present? or @user.instagram_link.present? or @user.twitter_link.present? %>
          <div class="row social">
            <div class="col s12">
              <% if @user.facebook_link.present? %>
                <%= link_to "http://#{cattery_social_links(@user)[:facebook]}", target:"_blank", class:"waves-effect waves-light btn-floating btn-large facebook" do %>
                  <i class="fab fa-facebook-f"></i>
                <% end %>
              <% end %>
              <% if @user.instagram_link.present? %>
                  <%= link_to "http://#{cattery_social_links(@user)[:instagram]}", target:"_blank", class:"waves-effect waves-light btn-floating btn-large instagram" do %>
                    <i class="fab fa-instagram"></i>
                  <% end %>
              <% end %>
              <% if @user.twitter_link.present? %>
                  <%= link_to "http://#{cattery_social_links(@user)[:twitter]}", target:"_blank", class:"waves-effect waves-light btn-floating btn-large twitter" do %>
                    <i class="fab fa-twitter"></i>
                  <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @kittens.any? && cattery_kittens_available(@user).is_available %>
        <div class="row">
          <div class="col s12 available-message success">
            <i class="material-icons check">check_circle</i>
            <%= t('cat_info.kittens_available') %>!
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= form_with(url: {:controller => 'users', :action => 'show', :id => @user.id}, :html => {:class => "filter"}, method: "GET", html: {autocomplete: "off"}) do |f| %>
    <% if cattery_parents(@user).any? %>
      <div class="section parents">
        <div class="row">
          <h1><%= t('cat_info.parents')%></h1>
        </div>
        <div class="filter-bar">
          <div class="container parent-filter">
            <%= render 'parent_filter', f: f %>
          </div>
        </div>
        <div class="row">
          <% cattery_parents(@user).each_slice(2) do |slice| -%>
            <div class="index-row">
              <% slice.each do |cat| %>
                <div class="col s10 offset-s1 m6 ml6 l3">
                  <div class="card">
                    <span class="filter-icon-container circle z-depth-4">
                      <i class="material-icons filter-list">filter_list</i>
                      <i class="material-icons add-circle">add_circle</i>
                      <i class="material-icons check-circle">check_circle</i>
                      <span class="cat-id"><%= cat.id %></span>
                    </span>
                    <div class="card-image">
                      <%= image_tag(cat.thumbnail, alt:"#{Breed.find(cat.breed_id).name} parent", data: { 'object-fit': 'cover' }) %>
                      <% if !cat.name.blank? %>
                        <span class="card-title"><%= capitalized_name(cat) %></span>
                      <% end %>
                    </div>
                    <div class="card-content">
                      <% if user_signed_in? && current_user == @user %>
                        <%= link_to edit_cat_path(cat, form: "parent"), class:"btn-floating halfway-fab waves-effect waves-light btn-large" do %>
                          <i class="material-icons">edit</i>
                        <% end %>
                      <% end %>
                      <table>
                        <tbody>
                          <tr class="info-block">
                            <td class="info-title"><%= t('breed', count: 1)%>:</td>
                            <td class="info-text"><%= t("breeds.#{cat_breed(cat).breed_code}.name") %></td>
                          </tr>
                          <tr class="info-block">
                            <td class="info-title"><%= t('cat_info.gender')%>:</td>
                            <td class="info-text"><%= cat_gender(cat).capitalize %></td>
                          </tr>
                          <tr class="info-block">
                            <td class="info-title"><%= t('cat_info.partners')%>:</td>
                            <td class="info-text"><%= cat.pairs.size %></td>
                          </tr>
                          <tr class="info-block">
                            <td class="info-title"><%= t('cat_info.litters')%>:</td>
                            <td class="info-text"><%= parent_litters_count(cat, @user) %></td>
                          </tr>
                          <tr class="info-block">
                            <td class="info-title"><%= t('header.kittens') %>:</td>
                            <td class="info-text"><%= parent_kittens_count(cat, @user) %></td>
                          </tr>
                        </tbody>
                      </table>
                      <% if cat.tests.any? { |test| test[1] == '1' } %>
                        <div class="card-action">
                          <div class="card-reveal-link activator">
                            <%= t('show.see_health_tests') %>
                            <span class="material-icons activator">keyboard_arrow_up</span>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title"><%= t('cat_info.tests.health') %><i class="material-icons circle down-icon">keyboard_arrow_down</i></span>
                      <% if cat.tests.any? { |test| test[1] == '1' } %>
                        <p><%= capitalized_name(cat) %>&nbsp;<%= t('cat_info.tests.was_tested_on') %>:</p>
                        <ul class="test-block">
                          <% cat.tests.each do |test| %>
                            <% if test[1] == '1' %>
                              <div class="row">
                                <span class="test-icon"><i class="material-icons">spa</i></span>
                                <li class="test-name"><span><%= t("cat_info.tests.#{test[0]}") %></span></li>
                              </div>
                            <% end %>
                          <% end %>
                        </ul>
                      <% else %>
                        <p><%= t('cat_info.tests.no_tests_available') %>&nbsp;<%= capitalized_name(cat) %>.</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div> 
    <% end %>
    
    <% if @pairs.any? %>
      <div class="section">
        <div class="row">
          <h1><%= t('cat_info.pairs') %></h1>
        </div>
        <div class="selected-filters-message"></div>
        <div id="pairs" class="row">
          <%= render partial: 'cattery_pairs' %>
        </div>
      </div>
    <% end %>
    <% if @litters.any? %>
      <div class="section">
        <div class="row">
          <h1><%= t('cat_info.litters') %></h1>
        </div>
        <div class="filter-bar">
          <div class="container parent-filter">
            <%= render 'litter_filter', f: f %>
          </div>
        </div>
        <div class="selected-filters-message"></div>
        <div id="litters" class="row">
          <%= render partial: 'cattery_litters' %>
        </div>
      </div>
    <% end %>
    <% if @kittens.any? %>
      <div class="section">
        <div class="row">
          <h1><%= t('header.kittens') %></h1>
        </div>
        <div class="selected-filters-message"></div>
        <div id="kittens" class="row">
          <%= render partial: 'cattery_kittens' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="section social-media">
    <div class="row">
      <h1><%= t('social.share_this_cattery') %></h1>
    </div>
    <%= render 'shared/social_media_share_buttons' %>
  </div>
  <div id="contact" class="section contact">
    <%= render 'shared/contact_form', user: @user, cat: nil %>
  </div>
</div>