<div class="form">

  <div class="row">
    <h2 class="form-title"><%= t('footer.contact') %></h2>
  </div>

  <div class="row">
    <div class="col s12 ml12 l7">
      <%= form_with(model: @message, url: messages_path, multipart: true) do |f| %>
        <%= recaptcha_v3(action: 'contact', turbolinks: true) %>

        <div class="row">
          <br>
        </div>

        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.hidden_field :receiver_name, value: user.cattery_name %>
        <%= f.hidden_field :cattery_email, value: user.email %>
        <% if cat.present? %>
          <%= f.hidden_field :cat_id, value: cat.id %>
        <% end %>

        <%= f.label :nickname %>
        <%= f.text_field :nickname %>

        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= f.label :email do %>
                <%= t('form.contact.your_email') %> *
              <% end %>
              <%= f.text_field :email %>
              <%= render 'shared/error_messages', object: @message, field: :email %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= f.label :subject do %>
                <%= t('form.contact.subject') %> *
              <% end %>
              <%= f.text_field :subject %>
              <%= render 'shared/error_messages', object: @message, field: :subject %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= f.label :description do %>
                <%= t('form.contact.message') %> *
              <% end %>
              <%= f.text_area :description, class:'materialize-textarea' %>
              <%= render 'shared/error_messages', object: @message, field: :description %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="actions">
            <div class="col">
              <%= f.button class:"btn-large waves-effect waves-light", type:"submit" do %>
                <%= t('form.contact.send') %>
                <i class="material-icons right">send</i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col s12 ml12 l5">
      <table class="contact-info-table">
        <div class="row">
        <br>
      </div>
        <% unless user.email == 'support@catlinker.com' %>
        <thead>
          <tr>
            <th colspan="2"><%= t('cattery_info.cattery_info') %></th>
          </tr>
        </thead>
        <% end %>
        <tbody>
          <tr class="contact-info-block">
            <td class="info-title">
              <%= t('form.contact.email') %>:
            </td>
            <td class="info-text">
              <%= mail_to user.email, class:"info-link" do %>
                <%= user.email %>
              <% end %>
            </td>
          </tr>
          <% if user.phone_number.present? %>
            <tr class="contact-info-block">
              <td class="info-title">
                <%= t('form.contact.phone') %>:
              </td>
              <td class="info-text">
                <%= link_to "tel:#{user.phone_number}", class:"info-link" do %>
                  <%= user.phone_number %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>