<div class="form">

  <div class="row">
    <h2 class="form-title"><%= t('footer.contact') %></h2>
  </div>

  <div class="row">
    <div class="col s12 l7">
      <%= form_with(model: @message, url: messages_path) do |f| %>
        <div class="row">
          <br>
        </div>

        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.hidden_field :receiver_name, value: user.cattery_name %>
        <%= f.hidden_field :cattery_email, value: user.email %>
        <% if cat.present? %>
          <%= f.hidden_field :cat_id, value: cat.id %>
        <% end %>

        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= f.label :email do %>
                <%= t('form.contact.your_email') %> *
              <% end %>
              <%= f.text_field :email %>
              <%= render 'shared/error_messages', object: @message, field: :email %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= f.label :subject do %>
                <%= t('form.contact.subject') %> *
              <% end %>
              <%= f.text_field :subject %>
              <%= render 'shared/error_messages', object: @message, field: :subject %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <%= f.label :description do %>
                <%= t('form.contact.message') %> *
              <% end %>
              <%= f.text_area :description, class:'materialize-textarea' %>
              <%= render 'shared/error_messages', object: @message, field: :description %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="actions">
            <div class="col">
              <%= f.button class:"btn-large waves-effect waves-light", type:"submit" do %>
                <%= t('form.contact.send') %>
                <i class="material-icons right">send</i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col s12 l5">
      <div class="row">
        <div class="contact-info-block">
          <div class="col s4 m4 info-title">
            <%= t('form.contact.email') %>:
          </div>
          <div class="col s8 m8 info-text">
            <%= mail_to user.email, class:"info-link" do %>
              <%= user.email %>
            <% end %>
          </div>
        </div>
        <% if user.phone_number.present? %>
          <div class="contact-info-block">
            <div class="col s4 m4 info-title">
              <%= t('form.contact.phone') %>:
            </div>
            <div class="col s8 m8 info-text">
              <%= link_to "tel:#{user.phone_number}", class:"info-link" do %>
                <%= user.phone_number %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>