<div class="section home-landing">
  <div class="row">
    <div class="col l5 hide-on-med-and-down">
      <%= image_tag("cat_illustration_1.svg", :alt => "cat behind plant illustration", class:"image-m") %>
    </div>
    <div class="col l6 m12 offset-l1 search-landing">
        <h1><%= t('home.find_your_cat') %>!</h1>
        <div class="input-field">
          <%= form_with(url: {:controller => 'home', :action => 'search'}, method: "GET", local: true) do |f| %>
            <%= f.select(:breeds, options_for_select(@all_available_breeds_array), {disabled: "", prompt: t("select.which_breeds_are_you_looking_for")}, {:multiple => true, class:"form-filter"}) %>
            <%= f.hidden_field(:locations, :multiple => true, :value => @all_available_locations_array) %>
            <%= f.button class:"waves-effect waves-light btn-large", type:"submit" do %>
              <%= t('buttons.search') %>
              <i class="material-icons right">send</i>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
<div class="section breeds-landing">
  <div class="container">
    <div class="row">  
    <h1><%= t('home.popular_breeds') %></h1>
      <div class="carousel">
        <% @breeds.each do |breed| %>
        <div class="carousel-item">
            <div class="card">
              <div class="card-image">
                <%= image_tag(breed.thumbnail, alt:"#{breed.name} breed", class:"activator") if breed.picture.attached? %>
              </div>
              <div class="card-content activator">
                <%= t("breeds.#{breed.breed_code.upcase}.name") %>
                <i class="material-icons right circle">keyboard_arrow_up</i>
              </div>
              <div class="card-reveal">
                <span class="card-title"><%= t("breeds.#{breed.breed_code.upcase}.name") %><i class="material-icons right circle">close</i></span>
                <p><%= breed.short_description %></p>
                <%= link_to t('buttons.read_more'), breed_path(breed) %>
              </div>
            </div>
          </div>
        <% end %>        
      </div>
    </div>
  </div>
</div>

<% if @kittens.any? %>
  <div class="section kittens-landing">
    <div class="container">
      <div class="row">
        <h1><%= t('home.new_kittens') %></h1>
        <% @kittens.each_slice(2) do |slice| -%>
          <div class="index-row">
            <% slice.each do |cat| %>
              <div class="col s10 offset-s1 m6 ml6 l3">
                <%= link_to cat_path(cat) do %>
                  <div class="card">
                    <div class="card-image">
                      <%= image_tag(cat.thumbnail, alt:"#{Breed.find(cat.breed_id).name} kitten", data: { 'object-fit': 'cover' }) %>
                      <% if !cat.name.blank? %>
                        <span class="card-title"><%= cat.name %></span>
                      <% end %>
                    </div>
                    <div class="card-content">
                      <table>
                        <tbody>
                          <tr class="info-block">
                            <td class="info-title"><%= t('breed', count: 1)%>:</td>
                            <td class="info-text"><%= t("breeds.#{cat_breed(cat).breed_code}.name") %></td>
                          </tr>
                          <tr class="info-block">
                            <td class="info-title"><%= t('cat_info.gender')%>:</td>
                            <td class="info-text"><%= cat_gender(cat).capitalize %></td>
                          </tr>
                          <tr class="info-block">
                              <td class="info-title"><%= t('cat_info.cattery')%>:</td>
                              <td class="info-text"><%= cattery(cat).cattery_name %></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row btn-wrapper">
      <%= link_to cats_path, class:"waves-effect waves-light btn-large" do %>
        <%= t('buttons.see_all_kittens') %>
        <i class="fas fa-cat"></i>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="section cattery-landing">
    <div class="container">
      <div class="row">
        <h1><%= t('home.own_a_cattery') %>?</h1>
      </div>
      <div class="row valign-wrapper">
        <div class="col s12 ml12 l5">
          <div class="card-panel">
            <h2><%= t('home.strong_online_presence')%>!</h2>
            <p><%= t('home.one_place')%></p>
            <p><%= t('home.detailed_overview')%></p>
            <p><%= t('home.focus_on_what_is_important')%></p>
            <%= link_to t('buttons.sign_up_now'), new_user_registration_path, class:"btn waves-effect waves-light" %>
          </div>
        </div>
        <div class="col l6 offset-l1 hide-on-med-large-and-down">
          <%= image_tag("cat_illustration_2.svg", :alt => "relaxing with cat illustration", class:"image-m") %>
        </div>
      </div>
    </div>
  </div>