<main>
  <div class="section home-landing">
    <div class="row">
      <div class="col l5 hide-on-med-and-down">
        <%= image_tag("undraw_cat_image_1.svg", :alt => "cat", class:"image-m") %>
      </div>
      <div class="col l6 m12 offset-l1 search-landing">
          <h1><%= t('home.find_your_cat') %></h1>
          <div class="input-field">
            <%= form_with(url: {:controller => 'home', :action => 'search'}, method: "GET", local: true) do |f| %>
              <%= f.select(:breeds, options_for_select(@all_available_breeds_array), {disabled: "", prompt: t("select.which_breeds_are_you_looking_for")}, {:multiple => true, class:"form-filter"}) %>
              <%= f.hidden_field(:locations, :multiple => true, :value => @all_available_locations_array) %>
              <%= f.button class:"waves-effect waves-light btn-large", type:"submit" do %>
                <%= t('buttons.search') %>
                <i class="material-icons right">send</i>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="section breeds-landing">
    <div class="container">
      <div class="row">  
      <h1><%= t('home.popular_breeds') %></h1>
        <div class="carousel">
          <% @breeds.each do |breed| %>
          <div class="carousel-item">
              <div class="card">
                <div class="card-image">
                  <%= image_tag(breed.thumbnail, :alt => 'breed-image', class:"activator") %>
                </div>
                <div class="card-content activator">
                  <%= breed.name %>
                  <i class="material-icons right circle">keyboard_arrow_up</i>
                </div>
                <div class="card-reveal">
                  <span class="card-title"><%= breed.name %><i class="material-icons right circle">close</i></span>
                  <p><%= breed.short_description %></p>
                  <%= link_to "Read more", breed_path(breed) %>
                </div>
              </div>
            </div>
          <% end %>        
        </div>
      </div>
    </div>
  </div>

  <% if @kittens.any? %>
    <div class="section kittens-landing">
      <div class="container">
        <div class="row">
          <h1><%= t('home.new_kittens') %></h1>
          <% @kittens.each do |cat| %>
            <div class="col s10 offset-s1 m6 l3">
              <%= link_to cat_path(cat) do %>
                <div class="card">
                  <div class="card-image">
                    <%= image_tag(cat.card_picture, :alt => "card picture") %>
                    <% if !cat.name.blank? %>
                      <span class="card-title"><%= cat.name %></span>
                    <% end %>
                  </div>
                  <div class="card-content">
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title"><%= t('cards.breed')%>:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cat_breed(cat) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title"><%= t('cards.gender')%>:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cat_gender(cat) %></span>
                        </div>
                      </div>
                    </div>
                    <div class="info-block">
                      <div class="row">
                        <div class="col s4">
                          <span class="info-title"><%= t('cards.cattery')%>:</span>
                        </div>
                        <div class="col s8">
                          <span class="info-text"><%= cattery(cat).cattery_name %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row btn-wrapper">
        <%= link_to cats_path, class:"waves-effect waves-light btn-large" do %>
          <%= t('buttons.see_all_kittens') %>
          <i class="fas fa-cat"></i>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</main>