<div class="container">
  <div class="form">
    <div class="row">
      <h2 class="form-title"><%= t('header.login') %></h2>
    </div>

    <div class="row">
      <div class="col s12 l6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <br>
          </div>

          <div class="row">
            <div class="input-field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="row">
            <div class="input-field">
              <label class="checkbox-label">
                <%= f.check_box :remember_me %>
                <span><%= t('form.new_session.remember_me')%></span>
              </label>
            </div>
          </div>
          <% end %>

          <div class="row">
            <div class="actions">
              <%= f.button class:"btn waves-effect waves-light btn-large", type:"submit" do %>
                <%= t('header.login') %>
                <i class="material-icons right">send</i>
              <% end %>
            </div>
          </div>    
        <% end %>
      </div>
      <div class="col s12 l5 offset-l1 social">
        <div class="row">
          <%= link_to localized_omniauth_path(:facebook), class:"facebook btn-external-login waves-effect btn-large" do %>
            <i class="fab fa-facebook-f"></i>
            <%= t('form.new_session.external_login', kind: "Facebook") %>
          <% end %>
        </div>
        <div class="row text-divider-container">
          <span class="text-divider"><%= t('words.or').upcase %></span>
        </div>
        <div class="row">
          <%= link_to localized_omniauth_path(:google_oauth2), class:"google btn-external-login waves-effect btn-large" do %>
            <%= image_tag("google_logo.svg", alt: "Google logo", class:"google-logo") %>
            <%= t('form.new_session.external_login', kind: "Google") %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
