<%= form_for(@cat, url: {:controller => locals[:controller], :action => locals[:action], :form => @form}) do |f| %>
  <div class="row">
    <br>
  </div>

  <% if @form == "kitten" %>
    <div class="row">
      <div class="col s12 m6">
        <div class="input-field">
          <%= f.select(:pair_id, options_for_select(@parents_array, selected: f.object ? f.object.pair_id : ""), {selected: "", disabled: "", prompt: "#{t('cat_info.parents')} *"}) %>
        </div>
        <%= render 'shared/error_messages', object: @cat, field: :pair_id %>
      </div>
  <% end %>

  <% if @form == "parent" %>
    <div class="row">
  <% end %>
    <div class="col s12 m6">
      <div class="input-field">
        <%= f.label :name do %>
        <%= t('cat_info.name') %> <% if @form == "parent"%>*<% end %>
        <% end %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <%= render 'shared/error_messages', object: @cat, field: :name %>
    </div>
  <% if @form == "kitten" %>
    </div>
  <div class="row">
    <div class="col s12 m6 l4">
  <% elsif @form == "parent" %>
    <div class="col s12 m6">
  <% end %>
      <div class="input-field">
        <%= f.select(:breed_id, options_for_select(@breeds_array, selected: f.object ? f.object.breed_id : ""), {selected: "", disabled: "", prompt: "#{t('breed', count:1)} *"}) %>
      </div>
      <%= render 'shared/error_messages', object: @cat, field: :breed_id %>
    </div>
  <% if @form == "parent" %>
  </div>
  <% end %>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="input-field">
        <%= f.select(:gender, [["#{t('cat_info.gender')} *", "", { 'disabled' => 'disabled', 'selected' => 'selected', 'class' => 'inactive'}], ["#{t('male', count:1).capitalize}", 1], ["#{t('female', count:1).capitalize}", 2]]) %>
      </div>
      <%= render 'shared/error_messages', object: @cat, field: :gender %>
    </div>

    <div class="col s12 m6 l4">
      <div class="input-field">
        <%= f.select(:color_id, options_for_select(@colors_array, selected: f.object ? f.object.color_id : ""), {selected: "", disabled: "", prompt: "#{t('cat_info.color')} *"}) %>
      </div>
      <%= render 'shared/error_messages', object: @cat, field: :color_id %>
    </div>

    <div class="col s12 m6 l4">
      <div class="input-field">
        <%= f.select(:coat_pattern_id, options_for_select(@coat_patterns_array, selected: f.object ? f.object.coat_pattern_id : ""), {selected: "", disabled: "", prompt: "#{t('cat_info.coat')} *"}) %>
      </div>
      <%= render 'shared/error_messages', object: @cat, field: :coat_pattern_id %>
    </div>
  </div>

  <% if @form == "parent" %>
    <% f.hidden_field :is_parent %>

    <div class="row">
      <div class="col s12 l4">
        <div class="input-field">
          <%= f.select(:origin, options_for_select(@all_countries, selected: f.object ? f.object.origin : ""), {selected: "", disabled: "", prompt: "#{t('cat_info.origin')}"}) %>
        </div>
        <%= render 'shared/error_messages', object: @cat, field: :origin %>
      </div>
    </div>

    <div class="row">
      <h4 class="form-section-title"><%= t('words.tests') %></h4>
    </div>

    <div class="row">
      <% Cat.stored_attributes[:tests].each do |test| %>
        <div class="col s6">
          <div class="input-field">
            <label class="checkbox-label">
              <%= f.check_box :"#{test}" %>
              <span><%= t("cat_info.tests.#{test}") %></span>  
            </label>
          </div>
        </div>
      <% end %>
    <div>
  <% end %>

  <% if @form == "kitten" %>
    <div class="row">
      <div class="col s8 l4">
        <%= link_to cats_new_litter_path, remote: true, class:"btn waves-effect waves-light inner-form-btn", id:"getNewLitterNumber" do %>
        <%= t('buttons.new_litter') %>
        <i class="material-icons right">add</i>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m7">
        <div class="input-field">
          <%= f.hidden_field :litter_number, id:"hidden_cat_litter_number" %>
          <%= f.select(:litter_number, options_for_select(@litter_numbers, selected: f.object ? f.object.litter_number : ""), {selected: "", disabled: "", prompt: "#{t('cat_info.litter_nr')} *"}) %>
        </div>
        <%= render 'shared/error_messages', object: @cat, field: :litter_number %>
      </div>
      <div class="col s12 m5">
        <div class="input-field">
        <%= f.label :birth_date do %>
          <%= t('cat_info.birth_date') %> *
          <% end %>
          <%= f.text_field :birth_date, class:"datepicker" %>
        </div>
        <%= render 'shared/error_messages', object: @cat, field: :birth_date %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l4">
        <div class="input-field">
          <label class="checkbox-label">
            <%= f.check_box :is_vaccinated %>
            <span><%= t('cat_info.vaccinated') %></span>  
          </label>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="input-field">
          <label class="checkbox-label">
            <%= f.check_box :is_castrated %>
            <span><%= t('cat_info.castrated') %></span>  
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l4">
        <div class="input-field">
          <div class="switch">
            <label class="checkbox-label">
              <%= f.check_box :is_available %>
              <span class="lever lever-no-margin"></span>
              <%= t('cat_info.available') %>
            </label>
          </div>
        </div>
      </div>
    </div>      
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="file-field input-field">
        <div class="btn">
          <i class="material-icons-outlined">add_photo_alternate</i>
          <span><%= t('words.image') %></span>
          <%= f.file_field :card_picture %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12">
      <div class="card-picture-preview">
        <% if @cat.new_record? %>
          <span><%= t('words.preview') %> *</span>
        <% else %>
          <%= image_tag(@cat.card_picture) if @cat.card_picture.attached? %> 
        <% end %>
        <%= render 'shared/error_messages', object: @cat, field: :card_picture %>
      </div>
    </div>
  </div>

  <% if @form == "kitten" %>
    <div class="row">
    <div class="col s12">
      <div class="file-field input-field">
        <div class="btn">
          <i class="material-icons-outlined">add_photo_alternate</i>
          <span><%= t('buttons.other_pictures') %></span>
          <%= f.file_field :pictures, multiple: true %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12">
      <div class="pictures-preview">
        <% if @cat.new_record? or @cat.pictures.count == 0 %>
          <span><%= t('words.preview') %></span>
        <% else %>
          <% (0...@cat.pictures.count).each do |picture| %>
            <div class="image-placeholder">
              <%= image_tag(@cat.other_pictures(picture), class:"thumbnail materialboxed") %> 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="actions">
      <div class="col">
        <%= f.button class:"btn-large waves-effect waves-light", type:"submit", name:"form", value: @form do %>
          <% if @cat.new_record? %>
            <%= t('buttons.create') %>
          <% else %>
            <%= t('buttons.update') %>
          <% end %>
          <i class="material-icons right">done</i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <%= link_to 'javascript:history.back()', class:"waves-effect waves-light btn left btn-back" do %>
      <i class="material-icons left">keyboard_arrow_left</i>
      <%= t('buttons.back') %>
    <% end %>
  </div>
  <% if !@cat.new_record? %>
      <% if parent_litters_count(@cat, @user) == 0 and parent_kittens_count(@cat, @user) == 0 and @cat.pairs.size == 0 %>
        <div class="col right">
          <a class="btn waves-effect waves-light btn-delete modal-trigger" href="#modal-delete">
            <span><%= t('buttons.delete') %></span>
            <i class="material-icons right">delete</i>
          </a>
        </div>
        <div id="modal-delete" class="modal modal-confirmation">
          <div class="modal-content">
            <h4><%= t('buttons.delete') %>&nbsp;<%= (I18n.t "#{@form}", count:1).downcase %></h4>
            <p><%= t('modal.are_you_sure') %>?</p>
            <p><%= t('modal.this_action_is_permanent') %>!</p>
          </div>
          <div class="modal-footer">
            <a class="btn waves-effect waves-light modal-close btn-cancel">
             <%= t('words.cancel') %>
            </a>
            <%= link_to cat_path(@cat, form: @form), class:"btn waves-effect waves-light btn-confirm", method: :delete do %>
              <%= t('words.im_sure') %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="col right">
          <%= link_to "javascript:void(0)", class:"btn disabled-tooltip-wrapper tooltipped", data: { position:"top", tooltip: t('cattery_overview.tooltip.delete_parent_condition') } do %>
            <button class="btn waves-effect waves-light btn-delete disabled tooltipped">
              <span><%= t('buttons.delete') %></span>
              <i class="material-icons right">delete</i>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
