<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} | #{t("breeds.#{Breed.find(@cat.breed_id).breed_code.upcase}.name")} kitten | #{cat_location(@cat)}" %>
<% content_for :meta_description, t('meta.show_kitten', cat_breed: t("breeds.#{Breed.find(@cat.breed_id).breed_code.upcase}.name"), cat_gender: cat_gender(@cat), cattery: cattery(@cat).cattery_name, cat_birth_date: format_birth_date(@cat), cat_location: cat_location(@cat)) %>
<% content_for :meta_facebook_image, "#{url_for(@cat.facebook_thumbnail)}" %>
<% content_for :meta_twitter_image, "#{url_for(@cat.twitter_thumbnail)}" %>
<% content_for :meta_image_alt, "Kitten card picture" %>

<div id="kitten-view" class="container">
  <div class="row">
    <div class="col s12">
        <h1><%= t("breeds.#{cat_breed(@cat).breed_code}.name") %> <%= t('kitten', count:1).downcase %><h1>
        <% if @cat.name.present? %>
          <h1 class="cat-name"><%= @cat.name %><h1>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 picture-main-container"> 
      <%= image_tag(@cat.vertical_rectangle, :alt => "#{Breed.find(@cat.breed_id).name} kitten", class:"picture-main z-depth-2") %>
    </div>
    <div class="col s12 m6">
      <div class="info-main">
        <table>
          <tbody>
            <tr class="info-block">
              <td class="info-title"><%= t('cat_info.cattery') %>:</td>
              <td class="info-text">
                <%= link_to cattery_path(@user), class:"info-link" do %>
                  <%= cattery(@cat).cattery_name.titlecase %>
                <% end %>
              </td>
            </tr>
            <tr class="info-block">
              <td class="info-title"><%= t('cat_info.location') %>:</td>
              <td class="info-text"><%= cat_location(@cat) %></td>
            </tr>
            <tr class="info-block">
              <td class="info-title"><%= t('cat_info.gender') %>:</td>
              <td class="info-text"><%= cat_gender(@cat).capitalize %></td>
            </tr>
            <tr class="info-block">
              <td class="info-title"><%= t('cat_info.birth_date') %>:</td>
              <td class="info-text"><%= format_birth_date(@cat) %></td>
            </tr>
            <tr class="info-block">
              <td class="info-title"><%= t('cat_info.coat') %>:</td>
              <td class="info-text"><%= cat_coat(@cat) %></td>
            </tr>
          </tbody>
        </table>
        <div class="row chips-container">
          <div class="chip">
            <% if @cat.is_vaccinated %>
              <span class="material-icons check">check</span>
            <% else %>
              <span class="material-icons clear">clear</span>
            <% end %>
            <%= t('cat_info.vaccinated') %>
          </div>
          <div class="chip">
            <% if @cat.is_castrated %>
              <span class="material-icons check">check</span>
            <% else %>
              <span class="material-icons clear">clear</span>
            <% end %>
            <%= t('cat_info.castrated') %>
          </div>
        </div>
          <div class="row">
            <div class="col s12 available-message success">
              <% if @cat.is_available %>
                <span class="material-icons check">check_circle</span>
                <%= t('cat_info.kitten_available') %>!
              <% else %>
                <span class="material-icons clear">cancel</span>
                <%= t('cat_info.kitten_unavailable') %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <% if @cat.pictures.any? %>
        <div class="preloader-wrapper">
          <div class="spinner-layer spinner-teal-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div class="pictures-other-container grid">
          <div class="grid-col grid-col--1"></div>
          <div class="grid-col grid-col--2"></div>
          <div class="grid-col grid-col--3"></div>
          <div class="grid-col grid-col--4"></div>
          <% (0...@cat.pictures.count).each do |picture| %>
            <div class="image-placeholder grid-item">
              <%= image_tag(@cat.other_pictures(picture), alt:"#{Breed.find(@cat.breed_id).name} kitten", class:"thumbnail materialboxed") %> 
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="section parents">
    <h1><%= t('cat_info.parents') %></h1>
    <div class="row">
      <div class="pictures-parents-container">
        <div class="col s12 m5 offset-m1">
          <div class="picture-parent-container"> 
            <%= image_tag(cat_father(@cat).square, :alt => "father") %>
          </div>
          <div class="parent-info">
            <h3><%= capitalized_name(cat_father(@cat)) %></h3>
            <div class="info-block">
              <h4><%= t('cat_info.coat') %>:</h4>
              &nbsp;
              <span><%= cat_coat(cat_father(@cat)) %></span>
            </div>
            <% if cat_father(@cat).origin.present? %>
              <div class="info-block">
                <h4><%= t('cat_info.origin') %>:</h4>
                &nbsp;
                <span><%= t("countries.#{cat_father(@cat).origin}") %></span>
              </div>
            <% end %>
            <% if cat_father(@cat).tests.any? { |test| test[1] == '1' } %>
              <a href="#modalFather" class="waves-effect btn modal-trigger"><%= t('show.see_health_tests') %></a>
              <div id="modalFather" class="modal">
                <div class="modal-content">
                  <h4><%= t('cat_info.tests.health') %><i class="material-icons right circle modal-close">close</i></h4>
                  <% if cat_father(@cat).tests.any? { |test| test[1] == '1' } %>
                    <p><%= capitalized_name(cat_father(@cat)) %>&nbsp;<%= t('cat_info.tests.was_tested_on') %>:</p>
                    <ul class="test-block">
                      <% cat_father(@cat).tests.each do |test| %>
                        <% if test[1] == '1' %>
                          <div class="row">
                            <span class="test-icon"><i class="material-icons">spa</i></span>
                            <li class="test-name"><span><%= t("cat_info.tests.#{test[0]}") %></span></li>
                          </div>
                        <% end %>
                      <% end %>
                    </ul>
                  <% else %>
                    <p><%= t('cat_info.tests.no_tests_available') %>&nbsp;<%= cat_father(@cat).name %>.</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col s12 m5">
          <div class="picture-parent-container"> 
            <%= image_tag(cat_mother(@cat).square, :alt => "mother") %>
          </div>
          <div class="parent-info">
            <h3><%= capitalized_name(cat_mother(@cat)) %></h3>
            <div class="info-block">
              <h4><%= t('cat_info.coat') %>:</h4>
              &nbsp;
              <span><%= cat_coat(cat_mother(@cat)) %></span>
            </div>
            <% if cat_mother(@cat).origin.present? %>
              <div class="info-block">
                <h4><%= t('cat_info.origin') %>:</h4>
                &nbsp;
                <span><%= t("countries.#{cat_mother(@cat).origin}") %></span>
              </div>
            <% end %>
            <% if cat_mother(@cat).tests.any? { |test| test[1] == '1' } %>
              <a href="#modalMother" class="waves-effect btn modal-trigger"><%= t('show.see_health_tests') %></a>
              <div id="modalMother" class="modal">
                <div class="modal-content">
                  <h4><%= t('cat_info.tests.health') %><i class="material-icons right circle modal-close">close</i></h4>
                  <% if cat_mother(@cat).tests.any? { |test| test[1] == '1' } %>
                    <p><%= capitalized_name(cat_mother(@cat)) %>&nbsp;<%= t('cat_info.tests.was_tested_on') %>:</p>
                    <ul class="test-block">
                      <% cat_mother(@cat).tests.each do |test| %>
                        <% if test[1] == '1' %>
                          <div class="row">
                            <span class="test-icon"><i class="material-icons">spa</i></span>
                            <li class="test-name"><span><%= t("cat_info.tests.#{test[0]}") %></span></li>
                          </div>
                        <% end %>
                      <% end %>
                    <% else %>
                      <p><%= t('cat_info.tests.no_tests_available') %>&nbsp;<%= cat_mother(@cat).name %>.</p>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if other_kittens_from_same_litter(@cat).any? %>
    <div class="section other-kittens">
      <div class="row">
        <h1><%= t('cat_info.siblings') %></h1>
      </div>
      <div class="row">
        <% other_kittens_from_same_litter(@cat).each do |cat| %>
          <div class="col s10 offset-s1 m6 ml6 l3">
            <%= link_to cat_path(cat) do %>
              <div class="card">
                <div class="card-image">
                  <%= image_tag(cat.thumbnail, :alt => "sibling #{Breed.find(cat.breed_id).name}", data: { 'object-fit': 'cover' }) %>
                  <% if !cat.name.blank? %>
                    <span class="card-title"><%= capitalized_name(cat) %></span>
                  <% end %>
                </div>
                <div class="card-content">
                  <table>
                    <tbody>
                      <tr class="info-block">
                        <td class="info-title"><%= t('breed', count: 1) %>:</td>
                        <td class="info-text"><%= t("breeds.#{cat_breed(cat).breed_code}.name") %></td>
                      </tr>
                      <tr class="info-block">
                        <td class="info-title"><%= t('cat_info.gender') %>:</td>
                        <td class="info-text"><%= cat_gender(cat).capitalize %></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="info-block">
                    <div class="row">
                      <div class="col s12">
                        <div class="info-available">
                          <% if cat.is_available %>
                            <i class="material-icons check">check</i>
                            <span class="available-text"><%= t('cat_info.available') %></span>
                          <% else %>
                            <i class="material-icons close">close</i>
                            <span class="unavailable-text"><%= t('cat_info.unavailable') %></span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="section social-media">
    <div class="row">
      <h1><%= t('social.share_this_kitten') %></h1>
    </div>
    <%= render 'shared/social_media_share_buttons' %>
  </div>
  <div id="contact" class="section contact">
    <%= render 'shared/contact_form', user: @user, cat: @cat %>
  </div>
</div>