<%= stylesheet_link_tag '/stylesheets/mailers/build_mailer' %> 

<div class="email-container">
  <div class="email-logo-container">
    <%= image_tag(attachments['logo.png'].url, class:"email-logo") %>
    &nbsp;
    <div class="email-logo-text">Cat Linker</div>
  </div>
  <div class="email-body-container">
    <p><%= t('mailer.hi_there') %> <b><%= @email[/[^@]+/].gsub('_', '.').split('.').map {|n| n.capitalize }.join(" ") %></b>!</p>
    
    <p><%= t('mailer.confirmation.confirm_your_email_with_link_below') %>:</p>

    <p><%= link_to t('mailer.confirmation.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token), class:"email-button" %></p>
  </div>
</div>
