<%= stylesheet_link_tag '/stylesheets/mailers/build_mailer' %> 

<div class="email-container">
  <div class="email-logo-container">
    <%= image_tag(attachments['logo.png'].url, class:"email-logo") %>
    &nbsp;
    <div class="email-logo-text">Cat Linker</div>
  </div>
  <div class="email-body-container">
    <p><%= t('mailer.hi_there') %> <b><%= @email %></b>!</p>

    <% if @resource.try(:unconfirmed_email?) %>
      <p><%= t('mailer.confirmation.notify_email_being_changed') %>&nbsp;<span class="email-text-underline"><%= @resource.unconfirmed_email %></span>.</p>
    <% else %>
      <p><%= t('mailer.confirmation.notify_email_has_been_changed') %>&nbsp;<span class="email-text-underline"><%= @resource.email %></span>.</p>
    <% end %>
  </div>
</div>
