<%= stylesheet_link_tag '/stylesheets/mailers/build_mailer' %> 

<div class="email-container">
  <div class="email-logo-container">
    <%= image_tag(attachments['logo.png'].url, class:"email-logo") %>
    &nbsp;
    <div class="email-logo-text">Cat Linker</div>
  </div>
  <div class="email-body-container">
    <p><%= t('mailer.hi_there') %>&nbsp;<b><%= @resource.email[/[^@]+/].gsub('_', '.').split('.').map {|n| n.capitalize }.join(" ") %></b>!</p>

    <p><%= t('mailer.password.notify_password_change') %>.</p>
  </div>
</div>
