<%= stylesheet_link_tag '/stylesheets/mailers/build_mailer' %> 

<div class="email-container">
  <div class="email-logo-container">
    <%= image_tag(attachments['logo.png'].url, class:"email-logo") %>
    &nbsp;
    <div class="email-logo-text">Cat Linker</div>
  </div>
  <div class="email-body-container">
    <p><%= t('mailer.hi_there') %> <b><%= @resource.email[/[^@]+/].gsub('_', '.').split('.').map {|n| n.capitalize }.join(" ") %></b>!</p>

    <p><%= t('mailer.password.someone_requested_password_change') %>:</p>

    <p><%= link_to t('mailer.password.change_my_password'), edit_password_url(@resource, reset_password_token: @token), class:"email-button" %></p>

    <p><%= t('mailer.password.not_your_request') %>.</p>
    <p><%= t('mailer.password.password_wont_change_until_action') %>.</p>
  </div>
</div>
