<!DOCTYPE html>
<html class="fontawesome-i2svg-pending">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="turbolinks-visit-control" content="reload">

    <%= favicon_link_tag asset_path('favicon.png') %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_facebook_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_site_name %>" />
    <meta property="og:image:alt" content="<%= meta_image_alt %>">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:image:src" content="<%= meta_twitter_image %>">
    <meta name="twitter:image:alt" content="<%= meta_image_alt %>">

    <!-- Preload fonts -->
    <link rel="preload" href="/fonts/Roboto-Regular.ttf" as="font" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Medium.ttf" as="font" crossorigin>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"  media="print" onload="this.media='all'">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163427368-1"></script>

    <!-- Scripts -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: false %>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <%= link_to root_path, class:"logo" do %>
              <%= image_tag("logo.svg", :alt => "logo") %>
              Cat Linker
            <% end %>

            <div class="right show-on-medium-and-down">
              <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>

            <ul class="right hide-on-med-and-down">

              <li><%= link_to t('header.breeds'), breeds_path %></li>
              <li><%= link_to t('header.catteries'), catteries_path %></li>
              <li><%= link_to t('header.kittens'), cats_path %></li>
              <% if !user_signed_in? %>
                <li><%= link_to t('header.login'), new_user_session_path %></li>
              <% else %>
                <li>
                  <a class="nav-dropdown-trigger" data-target="dropdown1">
                    <span>
                      Account
                      <i class="material-icons arrow-icon">arrow_drop_down</i>
                    </span>
                  </a>
                </li>
                <ul id="dropdown1" class="dropdown-content">
                  <% if user_signed_in? && current_user.is_cattery %>
                    <li><%= link_to t('header.my_cattery'), my_cattery_cattery_path(@user) %></li>
                  <% end %>
                  <li><%= link_to t('header.profile'), edit_user_registration_path %></li>
                  <li><%= link_to t('header.logout'), destroy_user_session_path, method: :delete %></li>
                </ul>
              <% end %>
              <li>
                <a class="nav-dropdown-trigger" data-target="dropdown2">
                  <span>
                    <%= I18n.locale.upcase %>
                    <i class="material-icons arrow-icon">arrow_drop_down</i>
                  </span>
                </a>
              </li>
              <ul id="dropdown2" class="dropdown-content">
                <% I18n.available_locales.each do |lang| %>
                  <% unless lang == I18n.locale %>
                    <li><%= link_to t("languages.#{lang}"), url_for(locale: lang, form: @form) %></li>
                  <% end %>
                <% end %>
              </ul>
            </ul>
          </div>
        </nav>
      </div>

      <div class="row">
        <ul class="sidenav" id="mobile-menu">
        <%= link_to root_path, class:"logo" do %>
                <%= image_tag("logo.svg", :alt => "logo") %>
                <div>Cat Linker</div>
          <% end %>
          <li><%= link_to t('header.breeds'), breeds_path %></li>
          <li><%= link_to t('header.catteries'), catteries_path %></li>
          <li><%= link_to t('header.kittens'), cats_path %></li>
          <% if !user_signed_in? %>
            <li><%= link_to t('header.login'), new_user_session_path %></li>
          <% else %>
            <li><div class="divider"></div></li>
            <li><a class="subheader"><%= t('header.account') %></a></li>
            <% if user_signed_in? && current_user.is_cattery %>
              <li><%= link_to t('header.my_cattery'), my_cattery_cattery_path(@user), class:"subitem" %></li>
            <% end %>
            <li><%= link_to t('header.profile'), edit_user_registration_path, class:"subitem" %></li>
            <li><%= link_to t('header.logout'), destroy_user_session_path, method: :delete, class:"subitem" %></li>
          <% end %>
          <li><div class="divider"></div></li>
          <li><a class="subheader"><%= t('header.change_language') %></a></li>
          <% I18n.available_locales.each do |lang| %>
            <% unless lang == I18n.locale %>
              <li><%= link_to t("languages.#{lang}"), url_for(locale: lang), class:"subitem" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </header>
          
    <% if notice %>
    <script>M.toast({html: '<%= notice %>', classes: 'alert alert-success'})</script>
    <% end %>
    <% if alert %>
      <script>M.toast({html: '<%= alert %>', classes: 'alert alert-danger'})</script>
    <% end %>
    
    <main>
      <%= yield %>
    </main>
    
    <% if current_user && current_user.is_admin? %>
      <div class="fixed-action-btn">
        <%= link_to admin_user_session_path, class: "btn-floating btn-large" do %>
          <i class="large material-icons">group</i>
        <% end %>
      </div>
    <% end %>


    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="footer-title white-text"><%= t('footer.support') %></h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"><%= t('footer.help') %></a></li>
              <li><%= link_to t('footer.contact'), contact_path(@support), class:"grey-text text-lighten-3" %></li>
            </ul>
          </div>
          <div class="col l6 s12">
            <h5 class="footer-title white-text"><%= t('footer.information') %></h5>
            <ul>
              <li><%= link_to terms_of_service_path, class:"grey-text text-lighten-3" do %><%= t('footer.terms_of_service') %><% end %></li>
              <li><%= link_to privacy_policy_path, class:"grey-text text-lighten-3" do %><%= t('footer.privacy_policy') %><% end %></li>
              <li><%= link_to cookies_policy_path, class:"grey-text text-lighten-3" do %><%= t('footer.cookies_policy') %><% end %></li>
              <li><a target="_blank" class="grey-text text-lighten-3" href="https://icons8.com" rel="nofollow">Icons8</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © <%= Time.current.year %> Cat Linker
        </div>
      </div>
    </footer>

    <div class="cookies-disclaimer valign-wrapper">
      <span>
        <%= t('cookies.disclaimer') %>. 
        <%= t('cookies.learn_more') %>
        <%= link_to cookies_policy_path, class:"inline-link" do %><%= t('footer.cookies_policy') %><% end %>.
      </span>
      <button class="waves-effect waves-light btn">
        <%= t('cookies.agree') %>
      </button>
    </div>
  </body>
</html>

