<div class="container">
  <div class="form">
    <div class="row">
      <h2 class="form-title"><%= t('form.edit_registration.edit_profile') %></h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="row">
        <br>
      </div>

      <div class="row">
        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, disabled: @user.provider.present? %>
          <% if devise_mapping.confirmable? && !resource.pending_reconfirmation? %>
            <%= link_to "javascript:void(0)", class:"tooltipped confirmed-tooltip", data: { position: "top", tooltip: t('form.edit_registration.tooltip.email_confirmed') } do %>
              <i class="material-icons">check_circle</i>
            <% end %>
          <% end %>
          <% if resource.errors[:email].any? %>
            <%= render "devise/shared/error_messages", resource: resource, field: :email %>
          <% end %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="row">        
          <div class="awaiting-confirmation"><%= t('form.edit_registration.currently_awaiting_confirmation_for') %>: <%= resource.unconfirmed_email %></div>
          <%= link_to new_user_confirmation_path, class:"btn waves-effect waves-light resend-confirmation-btn btn-link" do %>
            <%= t('form.edit_registration.send_confirmation_instructions_again') %>
            <i class="material-icons right">redo</i>
          <% end %>
        </div>
      <% end %>

      <div class="row">
        <h4 class="form-section-title no-margin"><%= t('cat_info.cattery') %></h4>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <div class="switch">
            <label class="checkbox-label">
              <%= f.check_box :is_cattery %>
              <span class="lever"></span>
              <%= t('form.new_registration.own_cattery') %>
            </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% if @user.is_cattery %>
          <%= link_to my_cattery_cattery_path(@user), class:"waves-effect waves-light btn btn-link" do %>
            <%= t('words.go_to') %> 'my cattery'
            <i class="material-icons right">navigate_next</i>
          <% end %>
        <% end %>
      </div>

      <% unless @user.provider.present? %>
        <div class="row">
          <h4 class="form-section-title"><%= t('form.change_password.change_password_title') %></h4>
          <em class="title-info">(<%= t('form.change_password.leave_blank_to_not_change') %>)</em>
        </div>

        <div class="row">
          <div class="input-field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if resource.errors[:password].any? %>
              <%= render "devise/shared/error_messages", resource: resource, field: :password %>
            <% else %>
              <% if @minimum_password_length %>
                <span class="helper-text">(<%= t('form.new_registration.minimum_character_message', minimum_char_count: @minimum_password_length) %>)</span>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <% if resource.errors[:password_confirmation].any? %>
              <%= render "devise/shared/error_messages", resource: resource, field: :password_confirmation %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <h4 class="form-section-title"><%= t('form.edit_registration.confirm_changes') %></h4>
        </div>

        <div class="row">
          <div class="input-field">
            <%= f.label :current_password do %>
              <%= t('activerecord.attributes.user.current_password') %> *
            <% end %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <% if resource.errors[:current_password].any? %>
              <%= render "devise/shared/error_messages", resource: resource, field: :current_password %>
            <% end %>
            <span class="helper-text"><%= t('form.edit_registration.we_need_your_current_password') %></span>
          </div>
        </div>

      <% end %> 

      <div class="row">
        <div class="actions">
          <%= f.button class:"btn waves-effect waves-light", type:"submit" do %>
          <%= t('buttons.update') %>
          <i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form">
    <div class="row">
      <h3 class="form-title"><%= t('form.edit_registration.cancel_account') %></h3>
    </div>

    <div class="row">
      <p><%= t('form.edit_registration.cancel_account_unhappy') %></p>
      <p>
        <%= t('form.edit_registration.cancel_account_feedback_1' ) %>&nbsp;<%= link_to contact_path(@support), class:"inline-link" do %><%= t('form.edit_registration.cancel_account_feedback_let_us_know') %><% end %>&nbsp;<%= t('form.edit_registration.cancel_account_feedback_2' ) %>
      </p>
      <a class="btn waves-effect waves-light btn-delete-large modal-trigger" href="#modal-delete">
        <%= t('form.edit_registration.cancel_account') %>
        <i class="material-icons">delete_forever</i>
      </a>
    </div>

    <div id="modal-delete" class="modal modal-confirmation">
      <div class="modal-content">
        <h4><%= t('form.edit_registration.cancel_account') %></h4>
        <p><%= t('modal.are_you_sure') %>?</p>
        <p><%= t('modal.this_action_will_permanently_delete') %>!</p>
      </div>
      <div class="modal-footer">
        <a class="btn waves-effect waves-light modal-close btn-cancel">
          <%= t('words.cancel') %>
        </a>
        <%= link_to registration_path(resource_name), method: :delete, class:"btn waves-effect waves-light btn-confirm" do %>
          <%= t('words.im_sure') %>
        <% end %>
      </div>
    </div>
  </div>
</div>